*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: rgb(30, 33, 41);
    font-family: Arial, Helvetica, sans-serif;
}
.puntaje{
    background-color: rgba(0,0,0,0.5);
    width: 200px;
    height: 50px;
    border-radius: 0 20px 20px 20px ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
}
.objeto{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    position: absolute;
    top: 10px;
    left: 50px;

    transition-property: background-color;
    transition-duration: 2s;
    transition-timing-function: ease-out;
    transition-delay: 1s;
}
.objeto img{
    max-width: 100%;
    max-height: 100%;
}
.item{
    width: 120px;
    height: 120px;

    border-radius: 10px;
    position: absolute;
    bottom: 0px;
    left: 100px;  

    display: flex;
    justify-content: center;
    align-items: center;
   
}
@media only screen and (max-width: 500px) and (orientation:portrait) {
    .item {
        width: 80px;
        height: 100px;
    }
}
@media only screen and (max-width: 500px) and (orientation:landscape) {
    .item {
        width: 80px;
        height: 80px;
    }
}
.item img{
    max-width: 130%;
    min-height: 130%;
}
.hide{
    visibility: hidden;
}

.containerSeleccion{
    display: flex;
    justify-content: center;
    margin: 10px auto;

    background-color: rgba(39, 77, 59, 0.5);
    padding: 10px;
    border-radius: 20px;
    max-width: 500px;
    width: 90%;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btonContent{
    border-radius: 20px;
    padding: 10px;

    transition-property: background-color;
    transition-duration: 0.5s;

    display: flex;
    flex-direction: row;
    gap: 2rem;
}
#seleccion{
    color: wheat;
}
.bton{
    border: 1px solid white;
    color: rgb(30, 33, 41);;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}
.verde, .amarillo, .azul {
    display: flex; width: 30%;
    transition: transform .5s;
}
.verde{background-color: green;}
.verde img{
    max-width: 100%;
    max-height: 100%;
}
.amarillo{background-color: yellow;}
.amarillo img{
    max-width: 100%;
    max-height: 100%;
}
.azul{background-color: blue;}
.azul img{
    max-width: 100%;
    max-height: 100%;
}
.verde:hover{
    transform: scale(1.1);
    filter: drop-shadow(4px 4px 10px #dbdbdb);
    transition: transform .3s;
}
.amarillo:hover{
    transform: scale(1.1);
    filter: drop-shadow(4px 4px 10px #dbdbdb);
    transition: transform .3s;
}
.azul:hover{
    transform: scale(1.1);
    filter: drop-shadow(4px 4px 10px #dbdbdb);
    transition: transform .3s;
}
body {
    width: 100%;
    height: 100vh;
    background: url('img/backgroundGame.jpg') no-repeat center center fixed; 
    background-size: cover; 
    
    /* text-align: center; 
    line-height: 100vh; */
  }
  